.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    font-size: 80%;
    border: 2px solid var(--light-200);
    height: fit-content;
}

.card > .title {
    margin-bottom: 10px;
}

