.users{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.users >div> .item{
    width: 99%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.users >div> .item > .info {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}


.users>div>.item>.actions{
    display: flex;
    gap: 25px;
}

.users .edit-form {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    font-size: 14px;
    border: 2px solid var(--lighterBorderGray);
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.users .edit-form h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
}

.users .edit-form label {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-400);
}

.users .edit-form input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid var(--lighterBorderGray);
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

.users .edit-form input:focus {
    border-color: var(--ecoGreen);
    box-shadow: 0 0 5px rgba(0, 150, 255, 0.3);
}

.users .edit-form button {
    color: var(--light-100);
    width: 200px;
    padding: 8px 12px;
    background-color: var(--ecoGreen);
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all var(--transitionTimeLonger) ease;
}

.users .edit-form button:hover {
    background-color: var(--darkBottleGreen);
}

.users {

}

.users > table {
    border-radius: 8px;
    outline-offset: -3px;
    outline: 2px solid var(--dark-100);
    overflow: hidden;
    width: 100%;
    margin-bottom: 4px;
    position: relative;

    height: 67vh;
    overflow-y: scroll;
}

.users > table, tr, th, td {
    border-collapse: collapse;
    border: 2px solid var(--dark-100);
}

.users > table td, th {
    padding: 8px;
}

.users > table tr:nth-child(1)  {
    background: var(--dark-100);
    color: var(--light-100);
    position: sticky;
    top: -2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}