button {
    color: var(--light-100);
    width: fit-content;
    padding: 8px 12px;
    background: var(--dark-100);
    border-radius: 8px;
    outline: none;
    border: none;
    transition: .3s background-color;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: var(--dark-300);
}