button {
    color: var(--light-100);
    width: 200px;
    padding: 8px 12px;
    background-color:var(--ecoGreen);
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all var(--transitionTimeLonger)  ease;
}

button:hover {
    background-color: var(--darkBottleGreen);
    cursor: pointer;
}