section.report {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    flex-direction: column;
    padding: 20px;
    height: 15vh;
}
section.report > .generate {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

section.report > .generate > input {
    color: var(--dark-100);
    border: 1px solid var(--light-400);
    border-radius: 8px;
    padding: 8px 12px;
    transition: all var(--transitionTimeLonger) ease;
    box-sizing: border-box;
}


section.report > .generate > input:focus {
    border-color: var(--dark-100);
    outline: none;
    box-shadow: 0 0 8px var(--light-400);
}

section.report > .generate > input::placeholder {
    color: var(--light-400);
}

section.report > .generate > input:hover {
    border-color: var(--dark-100);
    cursor: text;
}