.generate-raport{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    flex-direction: column;
    padding: 20px;
    height: 15vh;
}
.generate-raport>.generate{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.generate-raport>.generate > div>input {
    color: var(--dark-100);
    border: 1px solid var(--light-400);
    border-radius: 8px;
    padding: 8px 12px;
    transition: all var(--transitionTimeLonger) ease;
    box-sizing: border-box;
}


.generate-raport>.generate > div>input:focus {
    border-color: var(--dark-100);
    outline: none;
    box-shadow: 0 0 8px var(--light-400);
}

.generate-raport>.generate > div>inputt::placeholder {
    color: var(--light-400);
}

.generate-raport>.generate > div>input:hover {
    border-color: var(--dark-100);
    cursor: text;
}
.generate-raport>.generate >button, .generate-raport>div>button{
    color: var(--light-100);
    width: 200px;
    padding: 8px 12px;
    background-color:var(--ecoGreen);
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all var(--transitionTimeLonger)  ease;;
}

.generate-raport>.generate >button:hover, .generate-raport>div>button:hover{
    background-color: var(--darkBottleGreen);
    cursor: pointer;
}