.content {
    width: 90%;
    height: 90vh;
    margin-right: 0.5%;
    margin-top: 0.25%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--lighterBorderGray);
    overflow-y: auto;

}