:root {
    --transitionTime: 0.8s;
    --transitionTimeLonger: 1.6s;
    --transitionCubic: cubic-bezier(1, 0.38, 0, 0.61);

    --darkGreenMain:#0B3D2E;
    --darkBottleGreen:#12674A;
    --ecoGreen:#1E8548;
    --naturalGreen:#3A9D65;

    --darkGrayMain:#1C1C1C;
    --darkGrayBg:#0a0a0a;
    --neutralGray:#6E6E6E ;

}