.ballance {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ballance > p.amount {
    color: var(--dark-100);
    font-size: 32px;
}

.ballance > .box {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--ecoGreen);
    background-color: #DDFFEC;
    color: var(--ecoGreen);
    padding: 4px 8px;
    border-radius: 40px;
    height: fit-content;
}

.ballance > .box > img {
    height: 15px;
}

.ballance > .box > p {
    font-size: 9px;
    color: var(--dark-300);
}

@media screen and (max-width: 375px) {
    .ballance {
        flex-direction: column;
        gap: 8px;
    }

    .ballance > p.amount {
        font-size: 24px;
    }

    .ballance > .box {
        padding: 4px 6px;
        font-size: 8px;
    }

    .ballance > .box > img {
        height: 12px;
    }
}

@media screen and (max-width: 600px) {
    .ballance > p.amount {
        font-size: 28px;
    }

    .ballance > .box {
        padding: 4px 7px;
    }

    .ballance > .box > img {
        height: 14px;
    }
}

@media screen and (max-width: 768px) {
    .ballance > p.amount {
        font-size: 30px;
    }

    .ballance > .box {
        padding: 4px 8px;
    }
}
