.ballance {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ballance > p.amount {
    color: var(--dark-100);
    font-size: 32px;
}

.ballance > .box {
    display: flex;
    align-items: center;
    gap: 5px;
    border:1px solid var(--ecoGreen);
    background-color: #DDFFEC;
    color:var(--ecoGreen) ;
    padding: 4px 8px;
    border-radius: 40px;
    height: fit-content;
}

.ballance > .box > img {
    height: 15px;
}

.ballance > .box > p {
    font-size: 9px;
    color: var(--dark-300);
}

