
.recent-transactions {
    margin-top: 10px;
}

.recent-transactions .transactions{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.recent-transactions .transactions .transaction{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;

}
.recent-transactions .transactions .transaction img {
    width: 30px;
    margin-left: 5px;
}

.recent-transactions .transactions .transaction div{
    display: flex;

}
.recent-transactions .transactions .transaction div p{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 58vw;
}

.recent-transactions .transactions .transaction div p span{
    font-size: 12px;
    color: var(--neutralGray);
}
.recent-transactions .transactions .transaction div .price{
    color: var(--ecoGreen);
    right: -8vw;
    position: absolute;
}