
.recent-transactions {
    max-height: 150px;
    overflow-y: auto;
}

.recent-transactions .transactions{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transaction{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.transaction > .box {
    display: flex;
    gap: 10px;
}

.transaction > .box > img {
    width: 30px;
    margin-left: 5px;
}

.transaction > .box > p{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.transaction > .box > p > span{
    font-size: 12px;
    color: var(--dark-500);
}
.transaction > .price{
    color: var(--ecoGreen);

}